VITE_FIREBASE_API_KEY=AIzaSyA2-WW59p_K7srElsrW_EAqRWLJ-NfAtMw
VITE_FIREBASE_AUTH_DOMAIN=cursoingreso-7344d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cursoingreso-7344d
VITE_FIREBASE_STORAGE_BUCKET=cursoingreso-7344d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=634585469878
VITE_FIREBASE_APP_ID=1:634585469878:web:a77dfcb37025f0deac6717